:root {
  --head-text: 2.3rem;
  --primary-white: #fff;
  --primary-blue: #102A5A;
  --light-blue1: #176898;
  --light-blue2: #A5C1E5;
}
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  font-family: Monospace, Verdana;
}
.logo {
  background-image: linear-gradient(to right, #ff0055, yellow);
  text-align: center;
  height: 75px;
}
.logo a {
  color: var(--primary-white);
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 30px;
}
.logo img {
  position: relative;
  width: 50px;
  height: 50px;
  top: 15px;
}
.menu-toggle {
  display: block;
  color: var(--primary-white);
  height: auto;
  text-align: right;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}
.menu-toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
}
.menu-toggle.active::before {
  content: "\f00d";
  font-family: fontAwesome;
}
.navbar {
  display: none;
}
.navbar.active {
  display: block;
}
.navbar.active ul li {
  list-style-type: none;
}
.navbar.active ul li a {
  display: block;
  color: var(--primary-white);
  text-decoration: none;
  padding: 8px;
}
.navbar.active ul li a i {
  margin: 0 10px 0 5px;
}
.navbar.active ul li a:hover {
  background: var(--primary-white);
  color: black;
}
.clearfix {
  clear: both;
}
.icon {
  color: #c7bfbf;
  font-size: 18px;
}
.icon.color {
  transition: color 0.7s;
}
.icon.color.fa-home {
  color: #ffc107;
}
.icon.color.fa-book {
  color: #c818e6;
}
.icon.color.fa-pencil-square-o {
  color: #4caf50;
}
.icon.color.fa-comments {
  color: #ff5722;
}
.icon.color.fa-user {
  color: #deec4c;
}

.bgimage {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.head-text {
  font-size: var(--head-text);
  color: var(--primary-white);
  padding: 10%;
  overflow:hidden;
}
.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primary-blue);
}
.mission {
	padding: 5vh 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}
.mission-image{
  width:20%; /*height is not defined */
  border-radius: 15%;
}
.mission-message {
  padding: 10%;
  color: var(--primary-white);
  text-align: center;
}

@media (min-width: 768px) {
  .mission-container {
	flex-direction: row;
	flex-wrap: nowrap;
  }
  .mission {
    min-width: 30%;
  }
  .logo {
    height: 90px;
  }
  .logo a {
    font-size: 40px;
  }
  .logo img {
    width: 60px;
    height: 60px;
  }
  .menu-toggle {
    display: none;
  }
  .navbar {
    display: block;
    float: left;
    width: 100%;
    height: 43px;
  }
  .navbar ul {
    display: flex;
  }
  .navbar ul li {
    list-style-type: none;
  }
  .navbar ul li a {
    display: block;
    color: var(--primary-white);
    font-size: 18px;
    text-decoration: none;
    padding: 8px 10px;
    margin-right: 20px;
  }
  .icon {
    font-size: 22px;
  }
  .navbar ul li a:hover {
    border-bottom: 2px solid var(--primary-white);
  }
}
